/* Base branca do controle */
.xbox.white {
    background-image: url("https://fel00z.github.io/Sticks/xboxWhiteBLueCustom%205.0.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
}

/* Botões ABXY (MANTER SISTEMA DE SPRITE) */
.xbox .button {
    background-image: url("https://fel00z.github.io/Sticks/abxy%208.0.svg") !important;
    background-repeat: no-repeat !important;
    /* NÃO colocar background-position aqui */
    /* NÃO colocar background-size: contain */
}

/* Stick personalizado */
.xbox .stick {
    background-image: url("https://fel00z.github.io/Sticks/stick%20one%20piece.svg") !important;
    background-repeat: no-repeat !important;
    /*background-position: center !important;*/
    /*background-size: contain !important;*/
}

.xbox .y {
background-position: -148px 2px !important;
    left: 55px !important;
    top: 7px !important;
}
.xbox .b {
    background-position: -48px 1px !important;
    top: 58px !important;
    right: 0px !important;
}
.xbox .a {
    background-position: 0px 1px !important;
    top: 108px !important;
    left: 55px !important;
}
.xbox .x {
    background-position: -98px 1px !important;
    top: 58px !important;
    left: 4px !important;
}

